<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torre Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <input type="checkbox" id="check">
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Torre <span>Test</span></h3>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="../static/images/Torre_logo.png" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      </div>
    </div>   
    <div class="sidebar">
      <div class="profile_info">
        <img src="../static/images/Torre_logo.png" class="profile_image" alt="">
        <h4>Admin</h4>
      </div>
      <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
    </div>

    <!-- This should goes in another view -->
    <div class="content">
      <div class="top_data">
        <div class="left_position">
          <input class="text_field" id="input_position" type="text">
          <button class="request_button" id="position_request" onclick="getPositionData()">Add Position</button>
          <h3 id="title">Description</h3>
          <div id="info_job"></div>
          <div id="job_description"></div>

        </div>
        <div class="right_users">
          <input class="text_field" id="input_username" type="text">
          <button class="request_button" id="user_request" onclick="getUserData()">Add User</button>
          <h3 id="title">Participants</h3>
          <div id="participants"></div>
        </div>
      </div>
      <div class="bottom_winner">
        <button class="request_button" id="compare_users" onclick="compareUsers()">Match</button>
        <div id="selected"></div>
        <div id="ranges"></div>
      </div>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>
    
    <script type="application/javascript" src="../static/scripts/index.js"></script>
  </body>
  </html>